.banner {
    @apply relative w-full;
    .img_wrapper {
        @apply absolute top-0 left-0 -z-10 w-full h-full;
        img {
            @apply h-full w-full
        }
    }
    .banner_content {
        @apply flex flex-col items-center gap-8 pt-10 pb-71px bg-none;
        @media (min-width: 768px) {
            padding-top: 89px;
            padding-bottom: 88px;
        }
        @media (min-width: 1024px) {
            padding-top: 164px;
            padding-bottom: 163px;
        }
        .text_content {
            @apply w-328 flex flex-col items-center gap-21 text-white text-center;
            @media (min-width: 768px) {
                @apply w-380;
            }
        }
    }
}